*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 0 15%;
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


header{
  margin-bottom: 20px;
}

.img-logo{
  padding-bottom: 40px;
}

.menu-navigazione{
  list-style: none; 
}

a:hover{
  color: red;
}

a:active{
  color: red;
}

a{
  text-decoration: none ;
}
 
li{
  display: inline-block;
  padding-right: 20px;
}

/* jumbotron */

#jumbotron {
  position: relative;
  height:600px ;
  background: url(../img/banner.jpg) no-repeat center;
  background-size:cover;
  color: white;
  margin-bottom: 15px;
  border-radius: 10px;
}

#jumbotron::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
}

.inner{
  position: relative;
  padding-left: 0;
  padding-top: 25%;
  text-align:left;
}

/* top content */

.top-content{
  padding: 4%;
}

.sottotitolo{
  color: #a2a2a2; ;
}

/* corpo pagina */

main{
  min-height: 600px;
  margin-bottom: 10px;

}

aside, section{
  float: left;
  margin-top: 1%;
}

.nav-bar, .widget{
  width: 23%;
  padding: 10%;
}

/* colonna sinistra foto */

.nav-bar{
  position:relative;
  background: url(../img/img-1.jpg) no-repeat ;
  background-size:contain;
  border-radius: 10px;
  width: 20%; 
  height: 200px;
  top: -32px;
}

/* colonna centrale foto */
.main-content{
  position: relative;
  background-image: url(../img/banner-2.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  border-radius: 10px;
  height: 200px;
  width: 50%;
  padding: 10%;
  right: -126px;
  top: -55px;
  margin-right: 10%;
}

/* colonna destra foto */
.widget{
  position: relative;
  background-image: url(../img/img-3.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  border-radius: 10px;
  border-radius: 10px;
  height: 200px;
  width: 20%;
  padding: 10%;
  top: 14%
  
 
}

footer{
  height: 70px;
  text-align: center;
}

